# ignore pycache
__pycache__

# ignore jupyter notebook extras
.ipynb_checkpoints/

# ignore PyBaSiC since they will git clone it themselves
PyBaSiC

# ignore test files that are not relevant to the pipelines
1.preprocessing-data/test.ipynb
example.csv
issue_testing.ipynb

# ignore image folders as the size is too large for GitHub
Corrected_Images
Images

# ignore all .tif files since there are too many images per plate for GitHub to handle
*.tif
*.TIF

# .txt file with output from IC and CellProfiler for reference
1.preprocessing-data/IC_log.txt
2.cellprofiler_processing/CellProfiler_output/cp_FactinAdjusted_log.txt

# test jupyter notebook for running CellProfiler
2.cellprofiler_processing/test.ipynb

# ignore the output files as they are too large
*.sqlite

# ignore plugin for cellprofiler
2.cellprofiler_processing/CellProfiler_input/CFReT_project_copy.cpproj
2.cellprofiler_processing/runcellpose_test_discard_nuclei.py

# ignore any single cell images as these can be generated through the notebook
4.analyze_data/notebooks/UMAP/images

# ignore all old feature files
depricated_feature_outputs
*bak

# ignore OS-specific files
.DS_Store

# ignore log files
logs

# ignore test notebooks
2.cellprofiler_processing/cp_analysis_parallel.ipynb

# ignore runinfo outputed from cytotable
runinfo
